
<h1>FAST-Tag Toll</h1>
<nav>
  <ul>
    <li><LinkTo @route="home">Home</LinkTo></li>
     <li><LinkTo @route="register.registration">Register</LinkTo></li>
    <li><LinkTo @route="register.vehicles">Manage Vehicles</LinkTo></li> 
    <li><LinkTo @route="register.recharge">Recharge</LinkTo></li> 
  </ul>
</nav>

   {{outlet}}
