<h1>FAST-Tag Toll</h1>
<nav>
  <ul>
    <li><LinkTo @route="home">Home</LinkTo></li>
       <li><LinkTo @route="vehicle-toll.toll-entry">Toll Gate</LinkTo></li> 
      <li><LinkTo @route="vehicle-toll.toll-logs">Toll Logs</LinkTo></li> 
  </ul>
</nav>
<div class="container">
   {{outlet}}
</div>